.experience {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 8em;
}

.section-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
}

.section-image img {
    max-height: 100%;
    max-width: calc(5em + 30vmax);
    min-width: calc(5em + 20vmax);
    min-height: calc(5em + 30vmax);
    height: auto;
    width: auto;
    border: 1px solid gray;
}

.section-text {
    justify-content: center;
    padding: 0 calc(2em + 1vw) 0 0;
}

@media (max-width: 700px) {
    .section-content-container {
        flex-direction: column-reverse;
    }

    .section-image {
        width: 100%;
        justify-content: center;
        margin-bottom: 2em;
    }

    .section-text {
        padding: 0;
    }
}