/* Fonts */
@font-face {
  font-family: "Garamond";
  src: url("../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Sono";
  src: url("../assets/fonts/Sono/Sono-VariableFont_MONO\,wght.ttf");
}


/* System-wide styles */
* {
  margin: 0;
}

html {
  background-color: #fafafa;
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: calc(2em + 4vmin);
  margin: 0 0 0.5em 0;
}

p {
  font-size: calc(0.5em + 2vmin);
  font-family: 'Sono';
}


/* Helper classes */
.hidden {
  display: none !important;
}