@font-face {
    font-family: "Garamond";
    src: url("../../../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

.mockup2 {
    background-color: white;
    font-family: 'Garamond', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.mockup2 p {
    text-align: left;
}

.mockup2 .relative {
    position: relative;
}

.mockup2 body {
    margin: 0;
}

.mockup2 main {
    display: flex;
    flex-direction: column;
}

.mockup2 .landing {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.mockup2 .landing h1 {
    font-size: 5em;
    margin-top: 15vh;
}

.mockup2 .landing .left-side {
    max-height: 100vh;
}

.mockup2 .landing .left-side .image {
    max-height: 100%;
}

.mockup2 .recipe .left-side .image {
    position: relative;
    max-width: fit-content;
    z-index: -1;
}

.mockup2 .landing .left-side .image img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
}

.mockup2 .landing .left-side .image figcaption {
    position: absolute;
    bottom: 0;
    padding: 1em;
    background-color: rgba(127, 127, 127, 0.657);
}


.mockup2 header {
    position: sticky;
    top: 0;
    padding: 1em;
    text-align: center;
    background-color: none;
}

.mockup2 header nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    top: 0px;
}

.mockup2 header nav a {
    font-size: 18px;
    margin: 0.5em 1em;
    color: rgb(41, 41, 41);
    transition: color 0.25s;
}

.mockup2 header nav a:hover {
    text-decoration: none;
    color: black;
}

.mockup2 .recipe {
    display: flex;
    align-items: flex-start;
    padding: calc(3vmin + 1em);
}

.mockup2 .recipe > div {
    margin: calc(1vmin + 0.5em);
}

.mockup2 .recipe .image {
    position: relative;
    flex-basis: 60%;
    z-index: -1;
}

.mockup2 .recipe .image img {
    width: 100%;
    height: auto;
}

.mockup2 .recipe .image figcaption {
    position: absolute;
    bottom: 0;
    padding: 1em; 
    background-color: rgba(127, 127, 127, 0.657);
}

.mockup2 .recipe .text {
    flex-basis: 100%;
}

.mockup2 .recipe .text.left h2,
.mockup2 .recipe .text.left h3 {
    text-align: left;
}

.mockup2 .recipe .text.right h2,
.mockup2 .recipe .text.right h3 {
    text-align: right;
}